@font-face {
    font-family: 'Open-Sauce-One';
    src: url('./fonts/Open-Sauce-One/OpenSauceOne-Black.ttf');
}
.Open-Sauce-One{
    font-family: 'Open-Sauce-One', sans-serif;
}

body{
    background-color: black;
}
.hero__title__develop{ 
    font-size: 16rem; 
    letter-spacing: -0.99rem;
    color:#777;
    font-family: 'Open-Sauce-One';
    display: flex;
    flex-direction: row;
}
.hero__title__top{ 
    font-size: 17rem; 
    letter-spacing: -2.5rem;
    color:#777;
    font-family: 'Open-Sauce-One';
    display: flex;
    flex-direction: row;
}

.btn-proyectos, .btn-contacto{
    border-radius: 30px;
    border-color: #777;
    border-bottom: solid;
    background-color: black;
    color: #777;
}

.hero__hover{
    color: #777;
    transition: .5s;
}
@media (hover:hover){
    .hero__hover:hover{
        color: azure;
    }
}

.btn-proyectos:active{
    color: azure;
    background-color: #777;
}
.btn-contacto:active{
    color: azure;
    background-color: #777;
}
.primera-palabra, .about-me, .scroll1, .Proyectos{
    color: rgb(248, 244, 244);
}

.about-me{
    text-align: justify;
}
.Frontal-top{
    margin-left: 1em;
    margin-right: 0em;
    margin-top: 2em;
}

.Frontal-down{
    margin-left: 3em;
    margin-right: 3em;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2fr);
    grid-gap: 1em;
    align-items: stretch;
    /*justify-content: center; */
}

.home__nav{
    font-size: 15px; font-family: Open Sauce,arial;
    line-height: 1.3;
    display:flex;
    justify-content:space-between;
    line-height:1.4
}
.home__nav{
    padding-top: 2em;
    padding-left: 2em;
    padding-right: 2em;
    color: #777;
}


.Proyectos{
    display: grid;
    grid-template-columns: repeat(1fr);
    grid-template-rows: (1fr);
    
} 

.imgScroll{
    filter: invert(.5);
    max-height: 5%;
    max-width: 5%;
}
.proyectosTitle{
    font-size: 10rem; 
    letter-spacing: 1rem;
    color:#777;
    font-family: 'Open-Sauce-One';
    display: flex;
    flex-direction: row;
}
